In [14]:
# MODULE 10.3.3 Import Splinter and BeautifulSoup; IMPORT SCRAPING TOOLS
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [15]:
# SET YOUR EXECUTABLE PATH
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\takyu\.wdm\drivers\chromedriver\win32\101.0.4951.41]

In [16]:
# Visit the mars nasa news site; ASSIGN THE URL & INSTRUCT THE BROWSER TO VISIT IT
url = 'https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [17]:
# SET UP THE HTML PARSER
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [18]:
# THE SPECIFIC DATA IS IN A <div /> WITH A CLASS OF 'content_title'
slide_elem.find('div', class_='content_title')

In [19]:
# Use the parent element to find the first `a` tag and save it as `news_title`
# MODULE 10.3.3 GET THE MOST RECENT TITLE PUBLISHED ON THE WEBSITE
# NOTE: AS WEBSITE IS UPDATED WITH NEW ARTICLES, OUTPUT WILL RETURN WITH NEWEST TITLE
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Robotic Toolkit Added to NASA's Mars 2020 Rover"

In [20]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover. "

### Featured Images

In [21]:
# MODULE 10.3.4 Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [22]:
# Find and click the full image button
# AUTOMATED BROWER WILL AUTOMATICALLY "CLICK" THE BUTTON TO CHANGE THE VIEW
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [23]:
# Parse the resulting html with soup;  NEED TO FIND THE RELATIVE IMAGE URL
html = browser.html
img_soup = soup(html, 'html.parser')

In [24]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [25]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [26]:
# MODULE 10.3.5 SCRAPE DATA ABOUT MARS; 
# WEBSCRAPING AN ENTIRE TABLE;  USE .read_html() FUNCTION

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
# END OF MODULE 10.3.5 END THE AUTOMATED BROWSER SESSION
browser.quit()